/*        h1 {
    color: green;
    text-align: center;
    font-family: "Apple Chancery";
    font-size: 40px;
    }

     h2 {
    color: green;
    text-align: center;
    font-family: "Apple Chancery";
    font-size: 20px;
    }

    .about {
    color: black;
    text-align: center;
    font-family: "Calibry";
    font-size: 30px;
    }
    
    .focus {
    color: green;
    text-align: center;
    font-family: "Calibry";
    font-size: 20px;
    font-weight: bold;
    }

    .prime {
    color: green;
    text-align: center;
    font-family: "Calibry";
    font-size: 40px;
    font-weight: bold;
    }*/
