 h1{
                font-size:  95px;
                text-align: center;
                padding-top: 35px;
                padding-bottom: 35px;
                margin-left: 10%;
                margin-right: 10%;
                background-color: #cce0ff;
            }
     
            
            
            td{
                height: 320px;
                width: 300px;
                text-align: center;

            }
            
            .item_cell:hover{
                background-color:  #cce0ff;
            }
/*            this is complicated... you will need to ask me about it*/
            .item_cell:hover .product_image{
                max-width:250px; 
                max-height:275px;
               
            }               
            .product_image{
                max-width: 200px; 
                max-height:200px;
            }  
           
            a{
                font-size:  20px;
                text-decoration: none;
            }
            
            table a:visited{
                    color: black;
            }