            h1{
                font-size:  75px;
                text-align: center;
                padding-top: 35px;
                padding-bottom: 35px;
                margin-left: 20%;
                margin-right: 20%;
                background-color: #cce0ff;
            }
           
            h2{
                font-size:  30px;
                text-align: center;
                padding-top: 25px;
                padding-bottom: 25px;
                margin-left: 40%;
                margin-right: 40%;
                background-color: #cce0ff;
            }
            
            .product_image{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 400px; 
            }
            .description_text{
                /*border: 1px solid black;*/
                word-wrap: break-word;
                text-align: center;
                width: 700px;
                margin-left: 500px;
                margin-right: 500px;
                padding: 20px 102px;
                font-size: 18px;
                background-color: #cce0ff;
            }
            
            .specs_text{
                text-align: left;
                padding: 15px 10px;
                padding-left: 40px;
                background-color: #99c2ff;
                margin-left: 500px;
                margin-right: 500px;
                font-size: 20px;
                font-style: italic;

            }
            
            table{
                /*border: 1px solid black;*/
                margin-left: auto;
                margin-right: auto;    
                margin-top: 40px;
                border-spacing: 15px; 
                background-color: #d6d7dc;
            }
            
            .order_product_details{
                text-align:center; 
            }
                       
            .order_contact_details{
                text-align:center; 
            }
            
            .order_address_details{
                text-align:center; 

            }
            
           .order_address_details td ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                padding-left: 16px;
            }
            
            .order_address_details td ul li{
                    float: left;
            }
            
            
            .submit_cell{
                /*border: 1px solid black;*/
                text-align: center; 
            }
            
            td{
                /*border: 1px solid black;*/

            }